<div class="col-2 col-md-4"></div>
<div class="col-8 col-md-4 mt-4">
  <div class="card">
    <div class="card-body">
      <p>IP: @Model.Ip</p>
      <div class="row text-center content-center small">
        <show-date show-time="true"></show-date>
      </div>
    </div>
  </div>
</div>
