@page
@model ConfirmEmailModel
@{
  ViewData["Title"] = "Confirm email";
}

@section Header {
  <div class="page-header align-items-start section-height-40 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/img/curved-images/curved3.png');">
    <span class="mask bg-gradient-dark opacity-2"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">@Localizer["Password Recovery Confirmation"]</h1>
        </div>
      </div>
    </div>
  </div>
}

<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 mb-2">
    <div class="col-xl-7 col-lg-8 col-md-8 mx-auto">
      <div class="card z-index-0">
        <div class="card-header text-center pt-4">
        </div>
        <div class="card-body pt-0 text-center">
          <p>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>