@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
}
@section Header {
  <div class="page-header align-items-start section-height-40 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/img/curved-images/curved6.png');">
    <span class="mask bg-gradient-dark opacity-1"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">@Localizer["Privacy Policy"]</h1>
          <p class="text-lead text-white">@Localizer["Here you can read how we are protecting your data"]</p>
        </div>
      </div>
    </div>
  </div>
}

<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 mb-2">
    <div class="col-xl-8 col-lg-9 col-md-9 mx-auto">
      <div class="card z-index-0">
        <div class="card-header text-center pt-4">
        </div>
        <div class="card-body pt-0 text-center">
          <p>
            @Localizer["This is a very fancy Privacy Policy."]
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
